/* webkit solution */
::-webkit-input-placeholder {
    font-family: FontAwesome;
    text-align: left;
}

/* mozilla solution */
#search-input:-moz-placeholder {
    font-family: FontAwesome;
    text-align: left;
}

.ml-auto a {
    color: #000000;
    font-weight: bold;
}

.card-img-top, .img-card {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* para redimensionar a imagem sem distorção */
}


#search-input {
    border-radius: 20px;
}

.btn-pesquisar {
    border-radius: 40px;
    background: #000000;
    color: #ffffff;
    font-weight: 700;
}

.btn-pesquisar:hover {
    border-radius: 40px;
    background: #cdcdcd;
    color: #000000;
}

form {
    border: 1px solid #dcdcdc;
    padding: 20px;
}

.filtros {
    font-size: 25px;
}

.form-group .has-search {
    margin-top: 3em;
}

.estrelas {
    margin-top: 1em;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa {
    font-size: 2em
}

.estrelas label i.fa:before {
    content: '\f005';
    color: #000000;
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: #CCC;
}

.perfil{
    border-right: 1px solid #0002;
}

.perfil-info {
    width: 100%;
    gap: 8px;
}

.perfil-info strong{
    width: 100%;
    white-space: nowrap;
}

.destaque {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.page-item.active .page-link {
    background: #000000;
    border: #000000;
}

.page-link {
    color: #000000;
}

.form-check-input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

.bairros{
    gap: 8px;
}

.bairros-ate {
    background-color: black;
    color: white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    line-height: 1;
    padding: 4px 16px 6px;
    height: 32px;
}

.van-moto{
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: flex-start;
    width: 100%;
}

.van-moto strong {
    font-size: 18px;
}

.img-moto {
    width: 100%;
    height: auto;
    /* largura 100% */
    object-fit: cover;
    /* ajustar a imagem para cobrir todo o espaço disponível */
}

.img-100 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

@media screen and (min-width: 400px) {
    .bairros {
        display: flex;
        flex-direction: column;
    }

    .bairros span{
        text-align: center;
    }
}
.fundoPadrao{
    background-color: #DCDCDC;
  }