
body {
    background-color: #DCDCDC;
  }
  
 
  body {
    color: #000000;
  }
  
  .btn {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
  }
  
  .btn:hover {
    background-color: #808080;
    border-color: #808080;
    color: #000000;
  }
  
  .form-control {
    border-color: #000000;
  }
  
  .form-control:focus {
    border-color: #808080;
    box-shadow: none;
  }
  
  .form-label {
    color: #000000;
  }
  
  .table {
    border-color: #000000;
  }
  
  .table thead {
    background-color: #808080;
    color: #000000;
  }
  
  .table th, .table td {
    border-color: #000000;
  }
  
  .form-check-input:checked {
    background-color: #808080;
    border-color: #000000;
  }
  
  .alert {
    background-color: #808080;
    border-color: #000000;
    color: #000000;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #808080; 
  }
  
  