*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}
#navbar-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2rem;
    margin-top: 7px;
}
#navbar-items{
    display: flex;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    display: inline;
    margin: 24px;
}
#navbar-items:hover{
    background-color: #808080;
    border-radius: 17px;
    padding: 7px;
    color:#000000;
    font-weight: bolder;
}

#inicio{
    padding:80px;
}
#inicio-home{
    background-color: #DCDCDC;
}
#headline{
    align-items: center;
    font-size: 1.9rem;
}
#texto{
    font-size: 1.2rem;
}

#bnt{
    border: 0px;
    background-color: #000000;
    color: white;
    border-radius: 14px;
    font-size: 0.9rem;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 220px;
    margin-top: 40px;
}
#bnt:hover{
    background-color:#808080;
    color: black;
    font-weight: bolder;
    width: 221px;
}

#bnt-entrar{
    background-color: #000000;
    color: white;
    border-radius: 14px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

#login{
    padding: 65px;
    width: 600px;
    text-align: center;
    text-transform: uppercase;
}
#text-imput{
    text-align: left;
}

#login-card{
    background-image: linear-gradient(120deg, #dcdcdc, #808080);
    color:#000000;
    border-radius: 14px;
}
#imput-login{
    border-radius: 10px;
    border: none;
    background-color:white;
    color:#000000;
}
#logo-pucdriver{
    margin: 1px;
    width: 140px;
}

#desenvolvedores-container{
    background-color: #DCDCDC;
}
#desenvolvedores{
    background-color: #808080;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
}
#nomes{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
    background-color: #808080;
    border-radius: 5px;
}

#logo-tecnologias{
    width: 130px;
    align-items: center;
}



/* RESPONSIVIDADE */

@media screen and (min-width: 320px) and (max-width: 530px){
    .logo{
        font-size: 27px;
        text-align: center;
    }
    #navbar-container{
        display: inline;
    }
    #navbar-items{
        text-align: center;
    }
}

@media screen and (min-width: 536px) and (max-width: 759px){
    #inicio{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    #headline{
        font-size: 2.3rem;
        text-align: center;
    }
    #texto{
        font-size: 1.rem;
        text-align: center;
    }
    #bnt{
        align-items: center;
        margin: 0px;
        margin-left: 130px;
    }

    #login{
        padding-top: 0px;
    }
    #logo-pucdriver{
        display: none;
    }
}