*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
#navbar{
    background-color: black;
    color: white;
    height: 110px;
}
#navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.logo{
    font-size: 2rem;
    margin-top: 33px;
    margin-left: 170px;
}
#logo-pucdriver{
    margin: 1px;
    width: 140px;
}

/* INICIO */
#inicio{
    padding:80px;
}
#inicio-home{
    background-color: #DCDCDC;
}
/* TITULOS */
#headline{
    align-items: center;
    font-size: 1.9rem;
}
/* TEXTOS */
#texto{
    font-size: 1.2rem;
}
/* BOTOES */
#bnt{
    border: 0px;
    background-color: #000000;
    color: white;
    border-radius: 7px;
    font-size: 0.9rem;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 220px;
    margin-top: 40px;
}
#bnt:hover{
    background-color:#808080;
    color: black;
    font-weight: bolder;
    width: 221px;
}
#bnt-entrar{
    background-color: #000000;
    color: white;
    border-radius: 7px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

/* LOGINS */
#background{
    background-color: #DCDCDC;
}
#login{
    padding: 65px;
    width: 600px;
    text-align: center;
    text-transform: uppercase;
}
#login-card{
    background-image: linear-gradient(120deg, #dcdcdc, #808080);
    color:#000000;
    border-radius: 7px;
}
#text-imput{
    text-align: left;
}
#imput-login-1{
    border-radius: 7px;
    border: none;
    background-color:white;
    color:#000000;
}
#imput-login-2{
    border-radius: 7px;
    border: none;
    background-color:white;
    color:#000000;
}
/* FOOTER */
#desenvolvedores-container{
    background-color: #DCDCDC;
}
#desenvolvedores{
    background-color: #808080;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
}
#nomes{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
    background-color: #808080;
    border-radius: 5px;
    margin: 3px;
    height: 20px;
}

#logo-tecnologias{
    width: 40px;
    align-items: center;
}

#card{
    background-color:#DCDCDC;
}

#esqueci-senha{
    font-size: 0.7rem;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 1028px) and (max-width: 1437px){
    #login{
        background-color:#DCDCDC;
    }
}

@media screen and (min-width: 536px) and (max-width: 1028px){
    #login{
        background-color:#DCDCDC;
    }
}

@media screen and (min-width: 536px) and (max-width: 759px){
    #inicio{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    #headline{
        font-size: 2.3rem;
    }
    #texto{
        font-size: 1.rem;
    }

    #login{
        padding-top: 0px;
    }
    .logo{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    #navbar{
        height: 130px;
    }
    #navbar-items{
        align-items: center;
        margin-left: 40px;
    }
    #login{
        background-color:#DCDCDC;
    }
}

@media screen and (min-width: 320px) and (max-width: 999px){
    .logo{
        margin-left: 20px;
    }
    #navbar-items{
        margin-top: 43px;
        align-items: center;
    }
    #login{
        background-color:#DCDCDC;
    }
}

@media screen and (min-width: 320px) and (max-width: 535px){
    .logo{
        font-size: 27px;
        text-align: center;
        margin: 0px;
    }
    #navbar-container{
        display: inline;
    }
    #navbar-items{
        text-align: center;
    }
    #inicio{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    #texto{
        font-size: 0.5.rem;
        text-align: left;
        padding: 0px;
    }
    #headline{
        font-size: 1.3rem;
    }
    #login{
        background-color:#DCDCDC;
    }
}